Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
compile
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
tests/Makefile.in

Makefile
config.h
config.log
config.status
libtool
src/.deps/
src/.libs/
src/Makefile
src/libdot.la
src/libdot1.la
src/libdot1_la-dotprod2.lo
src/libdot1_la-dotprod2.o
src/libdot1_la-dotprod2_dd.lo
src/libdot1_la-dotprod2_dd.o
src/libdot1_la-dotprod2_vec.lo
src/libdot1_la-dotprod2_vec.o
src/libdot1_la-dotprod_comp2.lo
src/libdot1_la-dotprod_comp2.o
src/libdot1_la-dotprod_comp2_vec.lo
src/libdot1_la-dotprod_comp2_vec.o
src/libdot1_la-dotprod_comp4.lo
src/libdot1_la-dotprod_comp4.o
src/libdot1_la-dotprod_comp4_vec.lo
src/libdot1_la-dotprod_comp4_vec.o
src/libdot1_la-dotprod_dd.lo
src/libdot1_la-dotprod_dd.o
src/libdot1_la-dotprod_dd_vec.lo
src/libdot1_la-dotprod_dd_vec.o
src/libdot1_la-dotprod_extr2.lo
src/libdot1_la-dotprod_extr2.o
src/libdot1_la-dotprod_extr2_vec.lo
src/libdot1_la-dotprod_extr2_vec.o
src/libdot1_la-dotprod_extr4.lo
src/libdot1_la-dotprod_extr4.o
src/libdot1_la-dotprod_extr4_vec.lo
src/libdot1_la-dotprod_extr4_vec.o
src/libdot1_la-dotprod_qd.lo
src/libdot1_la-dotprod_qd.o
src/libdot1_la-dotprod_vec.lo
src/libdot1_la-dotprod_vec.o
src/libdot1_la-libdot_align.lo
src/libdot1_la-libdot_align.o
src/libdot2.la
src/libdot2_la-dotprod.lo
src/libdot2_la-dotprod.o
stamp-h1
tag.sh
test
test.cpp
tests/.deps/
tests/.libs/
tests/Makefile
tests/perftest
tests/perftest-perftest.o
tests/timetest
tests/timetest-timetest.o
tests/timetest-timing.o
